{{- $src := .Destination -}}
{{- $alt := .Text | htmlEscape -}}
{{- $title := .Title -}}
{{- $attrs := .Attributes -}}
{{- $decorative := eq (printf "%v" $attrs.decorative) "true" -}}
{{- if and (not $alt) (not $decorative) -}}
  {{- errorf "Markdown images require alt text unless decorative=\"true\": %s" $src -}}
{{- end -}}
{{- $width := "" -}}
{{- $height := "" -}}
{{- if $attrs.width -}}
  {{- $width = $attrs.width -}}
{{- end -}}
{{- if $attrs.height -}}
  {{- $height = $attrs.height -}}
{{- end -}}
{{- $titleAttr := $title -}}
{{- if and $title (or (not $width) (not $height)) -}}
  {{- $stripped := $title | replaceRE `(?i)width|height|[0-9=\\s]` "" -}}
  {{- if eq $stripped "" -}}
    {{- $wMatch := findRE `(?i)width\\s*=\\s*([0-9]+)` $title -}}
    {{- if gt (len $wMatch) 0 -}}
      {{- $width = replaceRE `(?i).*width\\s*=\\s*([0-9]+).*` `$1` $title -}}
    {{- end -}}
    {{- $hMatch := findRE `(?i)height\\s*=\\s*([0-9]+)` $title -}}
    {{- if gt (len $hMatch) 0 -}}
      {{- $height = replaceRE `(?i).*height\\s*=\\s*([0-9]+).*` `$1` $title -}}
    {{- end -}}
    {{- $titleAttr = "" -}}
  {{- end -}}
{{- end -}}
{{- $image := partial "image_store.html" (dict "src" $src "zoom" $attrs.zoom) -}}
{{- $width = $image.width | default $width -}}
{{- $height = $image.height | default $height -}}
{{- $imageAttrs := partial "image_attrs.html" (dict
  "page" .Page
  "src" $image.src
  "width" $width
  "height" $height
) -}}
<img src="{{ $image.src | safeURL }}"
  alt="{{ $alt }}"
  class="post-image"
  loading="{{ $imageAttrs.loading }}"
  decoding="{{ $imageAttrs.decoding }}"
  fetchpriority="{{ $imageAttrs.fetchpriority }}"
  data-zoom-src="{{ $image.zoom | safeURL }}"
  {{- with $imageAttrs.width }} width="{{ . }}"{{ end -}}
  {{- with $imageAttrs.height }} height="{{ . }}"{{ end -}}
  {{- with $titleAttr }} title="{{ . | htmlEscape }}"{{ end -}}
>
