{{- $src := .Get "src" -}}
{{- if not $src -}}
  {{- errorf "img shortcode requires src param" -}}
{{- end -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $title := .Get "title" -}}
{{- $attrs := partial "image_attrs.html" (dict
  "page" .Page
  "src" $src
  "width" (.Get "width")
  "height" (.Get "height")
  "loading" (.Get "loading")
  "fetchpriority" (.Get "fetchpriority")
  "decoding" (.Get "decoding")
) -}}
{{- $class := "img-shortcode" -}}
{{- with .Get "class" -}}
  {{- $class = printf "%s %s" $class . -}}
{{- end -}}
<img src="{{ $src | safeURL }}"
  alt="{{ $alt | htmlEscape }}"
  class="{{ $class }}"
  loading="{{ $attrs.loading }}"
  decoding="{{ $attrs.decoding }}"
  fetchpriority="{{ $attrs.fetchpriority }}"
  {{- with $attrs.width }} width="{{ . }}"{{ end -}}
  {{- with $attrs.height }} height="{{ . }}"{{ end -}}
  {{- with $title }} title="{{ . | htmlEscape }}"{{ end -}}
>
