{{- $src1 := .Get "src1" -}}
{{- $src2 := .Get "src2" -}}
{{- if or (not $src1) (not $src2) -}}
  {{- errorf "two_up shortcode requires src1 and src2 params" -}}
{{- end -}}
{{- $alt1 := .Get "alt1" | default "" -}}
{{- $alt2 := .Get "alt2" | default "" -}}
{{- $decorativeAll := eq (printf "%v" (.Get "decorative")) "true" -}}
{{- $decorative1 := or $decorativeAll (eq (printf "%v" (.Get "decorative1")) "true") -}}
{{- $decorative2 := or $decorativeAll (eq (printf "%v" (.Get "decorative2")) "true") -}}
{{- if and (not $alt1) (not $decorative1) -}}
  {{- errorf "two_up shortcode requires alt1 param unless decorative1=\"true\": %s" $src1 -}}
{{- end -}}
{{- if and (not $alt2) (not $decorative2) -}}
  {{- errorf "two_up shortcode requires alt2 param unless decorative2=\"true\": %s" $src2 -}}
{{- end -}}
{{- $image1 := partial "image_store.html" (dict "src" $src1 "zoom" (.Get "zoom1")) -}}
{{- $image2 := partial "image_store.html" (dict "src" $src2 "zoom" (.Get "zoom2")) -}}
{{- $width1 := $image1.width | default (.Get "width1") -}}
{{- $height1 := $image1.height | default (.Get "height1") -}}
{{- $width2 := $image2.width | default (.Get "width2") -}}
{{- $height2 := $image2.height | default (.Get "height2") -}}
{{- $attrs1 := partial "image_attrs.html" (dict "page" .Page "src" $image1.src "width" $width1 "height" $height1) -}}
{{- $attrs2 := partial "image_attrs.html" (dict "page" .Page "src" $image2.src "width" $width2 "height" $height2) -}}
{{- $ratio1 := .Get "ratio1" | default 1 -}}
{{- $ratio2 := .Get "ratio2" | default 1 -}}
<div class="two-up" style="--ratio-1: {{ $ratio1 }}; --ratio-2: {{ $ratio2 }};">
  <figure class="two-up__item">
    <img src="{{ $image1.src | safeURL }}"
      alt="{{ $alt1 | htmlEscape }}"
      loading="{{ $attrs1.loading }}"
      decoding="{{ $attrs1.decoding }}"
      fetchpriority="{{ $attrs1.fetchpriority }}"
      data-zoom-src="{{ $image1.zoom | safeURL }}"
      {{- with $attrs1.width }} width="{{ . }}"{{ end -}}
      {{- with $attrs1.height }} height="{{ . }}"{{ end -}}
    >
  </figure>
  <figure class="two-up__item">
    <img src="{{ $image2.src | safeURL }}"
      alt="{{ $alt2 | htmlEscape }}"
      loading="{{ $attrs2.loading }}"
      decoding="{{ $attrs2.decoding }}"
      fetchpriority="{{ $attrs2.fetchpriority }}"
      data-zoom-src="{{ $image2.zoom | safeURL }}"
      {{- with $attrs2.width }} width="{{ . }}"{{ end -}}
      {{- with $attrs2.height }} height="{{ . }}"{{ end -}}
    >
  </figure>
</div>
