{{- $src1 := .Get "src1" -}}
{{- $src2 := .Get "src2" -}}
{{- if or (not $src1) (not $src2) -}}
  {{- errorf "two_up shortcode requires src1 and src2 params" -}}
{{- end -}}
{{- $alt1 := .Get "alt1" | default "" -}}
{{- $alt2 := .Get "alt2" | default "" -}}
{{- $width1 := .Get "width1" -}}
{{- $height1 := .Get "height1" -}}
{{- $width2 := .Get "width2" -}}
{{- $height2 := .Get "height2" -}}
{{- $ratio1 := .Get "ratio1" | default 1 -}}
{{- $ratio2 := .Get "ratio2" | default 1 -}}
<div class="two-up" style="--ratio-1: {{ $ratio1 }}; --ratio-2: {{ $ratio2 }};">
  <figure class="two-up__item">
    <img src="{{ $src1 | safeURL }}"
      alt="{{ $alt1 | htmlEscape }}"
      loading="lazy"
      {{- with $width1 }} width="{{ . }}"{{ end -}}
      {{- with $height1 }} height="{{ . }}"{{ end -}}
    >
  </figure>
  <figure class="two-up__item">
    <img src="{{ $src2 | safeURL }}"
      alt="{{ $alt2 | htmlEscape }}"
      loading="lazy"
      {{- with $width2 }} width="{{ . }}"{{ end -}}
      {{- with $height2 }} height="{{ . }}"{{ end -}}
    >
  </figure>
</div>
